/*
Theme Name: Studio lab
Theme URI: https://elementor.com/hello-theme/?utm_source=wp-themes&utm_campaign=theme-uri&utm_medium=wp-dash
Template: hello-elementor
Author: Elementor Team
Author URI: https://elementor.com/?utm_source=wp-themes&utm_campaign=author-uri&utm_medium=wp-dash
Description: Hello Elementor is a lightweight and minimalist WordPress theme that was built specifically to work seamlessly with the Elementor site builder plugin. The theme is free, open-source, and designed for users who want a flexible, easy-to-use, and customizable website. The theme, which is optimized for performance, provides a solid foundation for users to build their own unique designs using the Elementor drag-and-drop site builder. Its simplicity and flexibility make it a great choice for both beginners and experienced Web Creators.
Tags: accessibility-ready,flexible-header,custom-colors,custom-menu,custom-logo,featured-images,rtl-language-support,threaded-comments,translation-ready
Version: 3.0.0.1705928524
Updated: 2024-01-22 14:02:04
Text Domain: child-studio-lab
*/
th.product-name {
    margin-top: 0px !important;
}
.request-price-btn-wishlist {
    display: inline-block;
    padding: 7px 7px 7px 7px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.request-price-btn-wishlist:hover {
    background-color: black;
    color: white !important;
    text-decoration: none !important;
}
.eael-single-product-price .show-suffix-text {
    display: block !important;
}
