.list li {
  list-style: none;
  margin-bottom: 2px;
}

.list li a {
  font-family: "Lato", Sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.list li button {
  font-family: "Lato", Sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.list li button:hover {
  font-weight: 500 !important;
  border-bottom: 1px solid black;
}

.list li a:hover {
  font-weight: 500 !important;
  text-decoration: none !important;
  border-bottom: 1px solid black;
}

#levelOneMobile .list li button {
  font-family: "Lato", Sans-serif;
  font-size: 13px;
}

.active {
  font-weight: 500 !important;
  border-bottom: 1px solid black !important;
}

.uppercase li button {
  text-transform: uppercase;
}

.uppercase li a {
  text-transform: uppercase;
}

.list li button {
  border: none;
  background-color: transparent;
  padding: 0px;
}

#levelOneMobile .list {
  padding-left: 0px;
}

#archtectureOneMobile .list {
  padding-left: 0px;
}

#menuMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

#menuMobile button {
  font-family: "Lato", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

#menuMobile a {
  font-family: "Lato", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

#popup-mobile {
  z-index: 100;
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 50px;
  left: -20px;
  padding: 10px 10px 100px 10px;
  width: 100vw;
  background-color: #f6f4ef;
  height: calc(100vh - 50px); /* TODO height : calc */
}

#menuButton {
  background-color: transparent;
  border: none;
}

#lang-menu {
  list-style: none;
  padding: 0px;
}

#lang-menu li {
  display: inline;
  text-transform: uppercase;
}

#lang-menu li:not(:first-child)::before { 
 content: '/';
 margin-right: 1ch;
}

#foot-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#account-whishlist {
  gap: 8px;
  display: flex;
  justify-content: center;
}

#account-whishlist svg {
  height: 14px;
}